.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("wallpaper.webp");
    color: white;
  }
  .login__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #1A8738;
    padding: 30px;
    border-radius: 20px;
  }
  .login__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
  }
  .login__btn {
    padding: 10px;
    font-size: 18px;
    color: white;
    background-color: #FFAA01;
    border: none;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    margin-bottom: 10px;
  }
  .login__google {
    background-color: #FF8731;
    border: none;
  }
  .login div {
    margin-top: 7px;
  }
  
  a{
    color: blue;
  }
  